In [49]:
#Set WD
cd /content/drive/PwC

/content/drive/PwC

In [0]:
#Set Package
import pandas as pd
import numpy as np

In [56]:
#Pandas
#Q1----------
#Load CSV
df = pd.read_csv("NHANES_sample_data.csv")

#check top 30 rows & number of columns
print("列数: " + str(len(df.columns)) + "列")
print("始めの30行をチェック↓")
df.iloc[0:30,:]

列数: 14列
始めの30行をチェック↓

,SEQN,RIDAGEYR,RIAGENDR,RIDRETH3,WTINT2YR,WTMEC2YR,DR1TCARB,DR1TTFAT,BMXWT,BMXBMI,BMXHT,LBXGH,LBXGLU,LBDGLUSI
0,73557.0,6.900000e+01,1.0,4.0,13281.237386,1.348104e+04,239.59,52.81,78.3,26.7,171.30,13.9,NaN,NaN
1,73558.0,5.400000e+01,1.0,3.0,23682.057386,2.447177e+04,423.78,124.29,89.5,28.6,176.80,9.1,NaN,NaN
2,73559.0,7.200000e+01,1.0,3.0,57214.803319,5.719329e+04,224.39,65.97,88.9,28.9,175.30,8.9,193.0,10.713
3,73560.0,9.000000e+00,1.0,3.0,55201.178592,5.576651e+04,162.92,58.27,32.2,17.1,137.30,NaN,NaN,NaN
4,73561.0,7.300000e+01,2.0,3.0,63709.667069,6.554187e+04,178.20,55.36,52.0,19.7,162.40,4.9,107.0,5.940
5,73562.0,5.600000e+01,1.0,1.0,24978.144602,2.534499e+04,189.59,93.92,105.0,41.7,158.70,5.5,NaN,NaN
6,73563.0,5.397605e-79,1.0,3.0,18040.818432,1.791356e+04,NaN,NaN,7.4,NaN,NaN,NaN,NaN,NaN
7,73564.0,6.100000e+01,2.0,3.0,60325.095254,6.175865e+04,300.16,91.03,93.4,35.7,161.80,5.5,110.0,6.106
8,73565.0,4.200000e+01,1.0,2.0,23307.675629,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,73566.0,5.600000e+01,2.0,3.0,16351.783140,1.748012e+04,226.32,41.31,61.8,26.5,152.80,5.4,NaN,NaN
10,73567.0,6.500000e+01,1.0,3.0,34002.622995,3.479543e+04,216.59,82.95,65.3,22.0,172.40,5.2,NaN,NaN
11,73568.0,2.600000e+01,2.0,3.0,89514.433218,9.152352e+04,227.63,172.21,47.1,20.3,152.50,5.2,89.0,4.940
12,73569.0,5.397605e-79,2.0,7.0,6673.803649,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,73570.0,9.000000e+00,2.0,7.0,11913.818655,1.207147e+04,299.48,81.19,31.9,17.4,135.50,NaN,NaN,NaN
14,73571.0,7.600000e+01,1.0,3.0,46988.470276,4.619011e+04,150.93,39.68,102.4,34.4,172.50,6.9,NaN,NaN
15,73572.0,1.000000e+01,2.0,4.0,11689.376908,1.276440e+04,178.12,78.54,41.7,19.7,145.40,NaN,NaN,NaN
16,73573.0,1.000000e+01,1.0,4.0,6403.212786,6.460788e+03,NaN,NaN,50.1,20.0,158.38,NaN,NaN,NaN
17,73574.0,3.300000e+01,2.0,6.0,14155.313000,1.539722e+04,575.61,249.49,56.8,22.8,158.00,5.0,84.0,4.663
18,73575.0,1.000000e+00,1.0,4.0,7574.950558,7.721542e+03,124.92,32.08,9.4,NaN,NaN,NaN,NaN,NaN
19,73576.0,1.600000e+01,1.0,4.0,12433.748735,1.266577e+04,145.46,25.14,67.3,23.2,170.40,5.1,89.0,4.940
20,73577.0,3.200000e+01,1.0,1.0,36284.650273,3.973502e+04,385.05,121.74,79.7,28.9,166.20,5.3,104.0,5.773
21,73578.0,1.800000e+01,1.0,1.0,11592.846429,1.175863e+04,113.89,18.24,109.4,35.6,175.20,NaN,NaN,NaN
22,73579.0,1.200000e+01,2.0,3.0,63248.989522,7.070803e+04,211.42,60.80,40.2,15.5,161.00,5.5,NaN,NaN
23,73580.0,3.800000e+01,2.0,4.0,27388.920690,2.719664e+04,305.69,97.72,93.5,35.9,161.40,5.8,103.0,5.718
24,73581.0,5.000000e+01,1.0,6.0,15902.418122,1.676426e+04,534.92,63.95,80.9,23.6,185.00,5.0,110.0,6.106
25,73582.0,2.300000e+01,2.0,4.0,30197.081366,3.118189e+04,NaN,NaN,46.7,18.6,158.30,NaN,NaN,NaN
26,73583.0,7.000000e+00,2.0,3.0,47574.649392,4.819641e+04,94.60,12.20,19.7,14.4,116.90,NaN,NaN,NaN
27,73584.0,1.300000e+01,1.0,3.0,72700.381729,7.218224e+04,87.44,29.36,53.1,25.3,144.90,5.4,NaN,NaN
28,73585.0,2.800000e+01,1.0,6.0,18063.143861,1.859097e+04,175.42,80.46,92.2,30.1,175.10,5.0,NaN,NaN
29,73586.0,4.000000e+00,2.0,6.0,11635.240800,1.356968e+04,93.32,37.64,18.6,15.5,109.40,NaN,NaN,NaN

In [57]:
#Q2----------
#Delete some columns
del_cols = ["RIDRETH3","WTINT2YR","WTMEC2YR",
            "DR1TCARB","DR1TTFAT","LBXGLU",
            "BMXHT"]
df = df.drop(del_cols, axis=1)
df.iloc[0:1,:]

      SEQN  RIDAGEYR  RIAGENDR  BMXWT  BMXBMI  LBXGH  LBDGLUSI
0  73557.0      69.0       1.0   78.3    26.7   13.9       NaN

In [58]:
#Q3----------
#Change column name
df.columns = ["SEQN","Age","Gender","Body_weight","BMI","HbA1c","Glucose"]
df.columns

Index(['SEQN', 'Age', 'Gender', 'Body_weight', 'BMI', 'HbA1c', 'Glucose'], dtype='object')

In [59]:
#Q4----------
#Delete NaN data
print("欠損値除去前行数: " + str(len(df.index)) + "行")
df = df.dropna()
print("欠損値除去後行数: " + str(len(df.index)) + "行")

欠損値除去前行数: 10175行
欠損値除去後行数: 3138行

In [68]:
#Q5----------
#Add "Height"
df["Height"] = round(np.sqrt(df["Body_weight"] / df["BMI"]), 2)
df.iloc[0:1,:]

      SEQN   Age  Gender  Body_weight   BMI  HbA1c  Glucose  Height
2  73559.0  72.0     1.0         88.9  28.9    8.9   10.713    1.75

In [111]:
#Q6----------
#Calculate Median, Variance
#A) Meanは平均値,Medianは中央値
print("Median:")
print(df.iloc[:,1:7].median())
print("Variance:")
print(round(df.iloc[:,1:7].var(),2))

Median:
Age            43.00
Gender          2.00
Body_weight    75.20
BMI            27.00
HbA1c           5.40
Glucose         5.44
dtype: float64
Variance:
Age            425.80
Gender           0.25
Body_weight    521.68
BMI             55.19
HbA1c            0.97
Glucose          3.04
dtype: float64

In [77]:
#Q7----------
#Calculate Mean, Min&Max, Quantiles, Standerd deviation
print(round(df.iloc[:,1:7].describe(),2))

Median:
           Age   Gender  Body_weight      BMI    HbA1c  Glucose
count  3138.00  3138.00      3138.00  3138.00  3138.00  3138.00
mean     43.21     1.52        78.59    28.14     5.64     5.82
std      20.63     0.50        22.84     7.43     0.98     1.74
min      12.00     1.00        30.10    13.40     3.50     2.83
25%      24.00     1.00        62.80    22.90     5.20     5.05
50%      43.00     2.00        75.20    27.00     5.40     5.44
75%      60.00     2.00        90.00    31.60     5.80     5.94
max      80.00     2.00       201.60    82.90    15.40    23.37

In [83]:
#Q8----------
#Create df_lim
df_lim = df[(df["Age"]>=20) &
            (df["BMI"]>=18) & (df["BMI"]<=50) &
            (df["Glucose"]>=4) & (df["Glucose"]<=16) & 
            (df["HbA1c"]>=4) & (df["HbA1c"]<=10)]
print("df_limの行数: " + str(len(df_lim.index)) + "行")

df_limの行数: 2406行

In [129]:
#Q9----------
#Count each genders. Give the difference between ages at 75%
print("Gender:1 -> " + str(len(df[(df["Age"]<=60) & (df["Gender"]==1)])))
print("Gender:2 -> " + str(len(df[(df["Age"]<=60) & (df["Gender"]==2)])))

Gender:1 -> 1134
Gender:2 -> 1227

In [105]:
#Q10----------
#Create A & B
A = df_lim.loc[:,["BMI"]]
B = df_lim.loc[:,["Body_weight","Glucose"]]
temp = pd.merge(A, B, left_index=True, right_index=True).reset_index().iloc[:,1:4]
temp.iloc[0:1,:]

    BMI  Body_weight  Glucose
0  28.9         88.9   10.713

In [131]:
#Q11----------
#Display some data from df_lim
print("34th row:")
print(df_lim.iloc[[33],:])
print("\n3rd column:")
print(df_lim.iloc[:,[2]])
print("\n57th row and 4th column")
print(df_lim.iloc[56,3])
print("\n50, 100, 250th rows and 1st and 4th columns")
print(df_lim.iloc[[49,99,249],[0,3]])
print("\n57th row and 2nd, 3rd and 5th columns")
print(df_lim.iloc[56,[1,2,4]])
print("\n128th row of Body_weight")
print(df_lim.iloc[127,3])

34th row:
        SEQN   Age  Gender  Body_weight   BMI  HbA1c  Glucose  Height
131  73688.0  58.0     1.0         97.1  33.6    5.5    5.829     1.7

3rd column:
       Gender
2         1.0
4         2.0
7         2.0
11        2.0
17        2.0
20        1.0
23        2.0
24        1.0
39        2.0
41        1.0
43        1.0
50        1.0
53        1.0
61        2.0
62        2.0
64        1.0
76        2.0
81        2.0
82        1.0
83        2.0
85        2.0
90        2.0
98        1.0
99        1.0
102       2.0
104       1.0
106       1.0
110       1.0
111       2.0
114       1.0
...       ...
10055     1.0
10056     1.0
10058     1.0
10059     2.0
10061     1.0
10062     1.0
10068     2.0
10070     1.0
10073     2.0
10076     1.0
10080     1.0
10081     1.0
10085     1.0
10089     1.0
10098     1.0
10101     2.0
10119     2.0
10121     2.0
10126     2.0
10135     1.0
10137     2.0
10142     2.0
10145     2.0
10151     1.0
10154     2.0
10155     1.0
10156     1.0
10161     2.0
10166     1.0
10170     1.0

[2406 rows x 1 columns]

57th row and 4th column
57.3

50, 100, 250th rows and 1st and 4th columns
         SEQN  Body_weight
198   73755.0         61.8
435   73992.0         60.1
1034  74591.0         83.7

57th row and 2nd, 3rd and 5th columns
Age       62.0
Gender     1.0
BMI       18.1
Name: 222, dtype: float64

128th row of Body_weight
80.7

In [142]:
#Q12----------
#Extract as a datatable called extracted rows of multiple of 3 and columns Body_weight and Glucose, and display the first 30 rows of the resulting datatable.
df_lim_ = df_lim.loc[:,["Body_weight","Glucose"]].reset_index().iloc[:,1:3]
df_lim_ = df_lim_[df_lim_.index % 3 - 2 == 0]
df_lim_.iloc[0:30,:]

    Body_weight  Glucose
2          93.4    6.106
5          79.7    5.773
8         104.0    5.940
11        111.9    4.940
14         81.7    4.718
17         60.9    6.328
20         95.5    5.329
23         88.8    4.940
26        124.8    5.995
29         58.2    5.662
32        105.2    4.774
35         76.0    7.383
38        123.3    5.662
41         71.9    4.829
44        105.5    5.329
47         73.7    4.996
50         75.0    5.218
53         53.0    5.162
56         57.3    5.440
59        100.7    5.773
62        109.2    6.217
65         70.3    4.774
68         93.6    4.385
71         96.8    5.995
74         69.3    5.718
77        110.8   10.214
80         71.9    5.495
83         68.8    5.162
86         92.4    5.218
89         73.6    6.384

In [187]:
#Q13----------
#6subgroup
age_1 = df_lim[(df_lim["Age"]>=20) & (df_lim["Age"]<40) & (df_lim["Gender"]==1)]
age_2 = df_lim[(df_lim["Age"]>=20) & (df_lim["Age"]<40) & (df_lim["Gender"]==2)]
age_3 = df_lim[(df_lim["Age"]>=40) & (df_lim["Age"]<60) & (df_lim["Gender"]==1)]
age_4 = df_lim[(df_lim["Age"]>=40) & (df_lim["Age"]<60) & (df_lim["Gender"]==2)]
age_5 = df_lim[(df_lim["Age"]>=60) & (df_lim["Gender"]==1)]
age_6 = df_lim[(df_lim["Age"]>=60) & (df_lim["Gender"]==2)]
subgroup_dict = {"age_1":age_1, "age_2":age_2, "age_3":age_3,
                 "age_4":age_4, "age_5":age_5, "age_6":age_6}
subgroup_count = {"age_1":len(age_1.index), "age_2":len(age_2.index), "age_3":len(age_3.index),
                  "age_4":len(age_4.index), "age_5":len(age_5.index), "age_6":len(age_6.index)}
subgroup_count = pd.DataFrame.from_dict(subgroup_count, orient='index')
subgroup_count

         0
age_1  374
age_2  396
age_3  405
age_4  435
age_5  391
age_6  405

In [0]:
#NumPy
#Q1----------
#Create numpy array
bw = np.array(df_lim.loc[:,"Body_weight"])
gen = np.array(df_lim.loc[:,"Gender"])

In [0]:
#Q2----------
#Create demo
an = np.array(df_lim.loc[:,"Age"])
demo = np.array([bw,gen,an])

In [150]:
#Q3----------
#show #2
demo

array([[88.9, 52. , 93.4, ..., 74.7, 99.5, 71.8],
       [ 1. ,  2. ,  2. , ...,  2. ,  1. ,  1. ],
       [72. , 73. , 61. , ..., 60. , 61. , 26. ]])

In [0]:
#Q4----------
#convert to df
df_demo = pd.DataFrame(demo.T)
df_demo["Row_i"] = df_demo.index + 1
df_demo.columns = ["bw","gen","an","Row_i"]
df_demo = df_demo.loc[:,["Row_i","bw","gen","an"]]

In [164]:
#Q5----------
print("gender:1 ave.bw " + str(df_demo[df_demo["gen"] == 1].loc[:,"bw"].mean()))
print("gender:2 ave.bw " + str(df_demo[df_demo["gen"] == 2].loc[:,"bw"].mean()))
print("-> gender:2 is maybe female")
print("# of under50kg females: " + str(len(df_demo[(df_demo["gen"]==2) & (df_demo["bw"]<50)])))

gender:1 ave.bw 85.81538461538462
gender:2 ave.bw 75.2457928802589
-> gender:2 is maybe female
# of under50kg females: 69