In [4]:
% matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#pandas

In [5]:
#1
file_path = 'C:/Users/180250/Downloads/NHANES_sample_data.csv'

df = pd.read_csv(file_path)

print(df.head(n=30))
print(df.columns)
print(len(df.columns))

       SEQN      RIDAGEYR  RIAGENDR  RIDRETH3      WTINT2YR      WTMEC2YR  \
0   73557.0  6.900000e+01       1.0       4.0  13281.237386  1.348104e+04
1   73558.0  5.400000e+01       1.0       3.0  23682.057386  2.447177e+04
2   73559.0  7.200000e+01       1.0       3.0  57214.803319  5.719329e+04
3   73560.0  9.000000e+00       1.0       3.0  55201.178592  5.576651e+04
4   73561.0  7.300000e+01       2.0       3.0  63709.667069  6.554187e+04
5   73562.0  5.600000e+01       1.0       1.0  24978.144602  2.534499e+04
6   73563.0  5.397605e-79       1.0       3.0  18040.818432  1.791356e+04
7   73564.0  6.100000e+01       2.0       3.0  60325.095254  6.175865e+04
8   73565.0  4.200000e+01       1.0       2.0  23307.675629  5.397605e-79
9   73566.0  5.600000e+01       2.0       3.0  16351.783140  1.748012e+04
10  73567.0  6.500000e+01       1.0       3.0  34002.622995  3.479543e+04
11  73568.0  2.600000e+01       2.0       3.0  89514.433218  9.152352e+04
12  73569.0  5.397605e-79       2.0       7.0   6673.803649  5.397605e-79
13  73570.0  9.000000e+00       2.0       7.0  11913.818655  1.207147e+04
14  73571.0  7.600000e+01       1.0       3.0  46988.470276  4.619011e+04
15  73572.0  1.000000e+01       2.0       4.0  11689.376908  1.276440e+04
16  73573.0  1.000000e+01       1.0       4.0   6403.212786  6.460788e+03
17  73574.0  3.300000e+01       2.0       6.0  14155.313000  1.539722e+04
18  73575.0  1.000000e+00       1.0       4.0   7574.950558  7.721542e+03
19  73576.0  1.600000e+01       1.0       4.0  12433.748735  1.266577e+04
20  73577.0  3.200000e+01       1.0       1.0  36284.650273  3.973502e+04
21  73578.0  1.800000e+01       1.0       1.0  11592.846429  1.175863e+04
22  73579.0  1.200000e+01       2.0       3.0  63248.989522  7.070803e+04
23  73580.0  3.800000e+01       2.0       4.0  27388.920690  2.719664e+04
24  73581.0  5.000000e+01       1.0       6.0  15902.418122  1.676426e+04
25  73582.0  2.300000e+01       2.0       4.0  30197.081366  3.118189e+04
26  73583.0  7.000000e+00       2.0       3.0  47574.649392  4.819641e+04
27  73584.0  1.300000e+01       1.0       3.0  72700.381729  7.218224e+04
28  73585.0  2.800000e+01       1.0       6.0  18063.143861  1.859097e+04
29  73586.0  4.000000e+00       2.0       6.0  11635.240800  1.356968e+04

    DR1TCARB  DR1TTFAT  BMXWT  BMXBMI   BMXHT  LBXGH  LBXGLU  LBDGLUSI
0     239.59     52.81   78.3    26.7  171.30   13.9     NaN       NaN
1     423.78    124.29   89.5    28.6  176.80    9.1     NaN       NaN
2     224.39     65.97   88.9    28.9  175.30    8.9   193.0    10.713
3     162.92     58.27   32.2    17.1  137.30    NaN     NaN       NaN
4     178.20     55.36   52.0    19.7  162.40    4.9   107.0     5.940
5     189.59     93.92  105.0    41.7  158.70    5.5     NaN       NaN
6        NaN       NaN    7.4     NaN     NaN    NaN     NaN       NaN
7     300.16     91.03   93.4    35.7  161.80    5.5   110.0     6.106
8        NaN       NaN    NaN     NaN     NaN    NaN     NaN       NaN
9     226.32     41.31   61.8    26.5  152.80    5.4     NaN       NaN
10    216.59     82.95   65.3    22.0  172.40    5.2     NaN       NaN
11    227.63    172.21   47.1    20.3  152.50    5.2    89.0     4.940
12       NaN       NaN    NaN     NaN     NaN    NaN     NaN       NaN
13    299.48     81.19   31.9    17.4  135.50    NaN     NaN       NaN
14    150.93     39.68  102.4    34.4  172.50    6.9     NaN       NaN
15    178.12     78.54   41.7    19.7  145.40    NaN     NaN       NaN
16       NaN       NaN   50.1    20.0  158.38    NaN     NaN       NaN
17    575.61    249.49   56.8    22.8  158.00    5.0    84.0     4.663
18    124.92     32.08    9.4     NaN     NaN    NaN     NaN       NaN
19    145.46     25.14   67.3    23.2  170.40    5.1    89.0     4.940
20    385.05    121.74   79.7    28.9  166.20    5.3   104.0     5.773
21    113.89     18.24  109.4    35.6  175.20    NaN     NaN       NaN
22    211.42     60.80   40.2    15.5  161.00    5.5     NaN       NaN
23    305.69     97.72   93.5    35.9  161.40    5.8   103.0     5.718
24    534.92     63.95   80.9    23.6  185.00    5.0   110.0     6.106
25       NaN       NaN   46.7    18.6  158.30    NaN     NaN       NaN
26     94.60     12.20   19.7    14.4  116.90    NaN     NaN       NaN
27     87.44     29.36   53.1    25.3  144.90    5.4     NaN       NaN
28    175.42     80.46   92.2    30.1  175.10    5.0     NaN       NaN
29     93.32     37.64   18.6    15.5  109.40    NaN     NaN       NaN
Index(['SEQN', 'RIDAGEYR', 'RIAGENDR', 'RIDRETH3', 'WTINT2YR', 'WTMEC2YR',
       'DR1TCARB', 'DR1TTFAT', 'BMXWT', 'BMXBMI', 'BMXHT', 'LBXGH', 'LBXGLU',
       'LBDGLUSI'],
      dtype='object')
14

In [6]:
#2
drop_columns_list = ['RIDRETH3', 'WTINT2YR', 'WTMEC2YR', 'DR1TCARB', 'DR1TTFAT',
                     'LBXGLU', 'BMXHT']
df = df.drop(columns=drop_columns_list)
print(len(df.columns))

7

In [8]:
#3
rename_column_dict = {'RIDAGEYR': 'Age',
                      'RIAGENDR': 'Gender',
                      'BMXWT': 'Body_weight',
                      'BMXBMI': 'BMI',
                      'LBXGH': 'HbA1c',
                      'LBDGLUSI': 'Glucose'}
df = df.rename(columns=rename_column_dict)
print(df.columns)

Index(['SEQN', 'Age', 'Gender', 'Body_weight', 'BMI', 'HbA1c', 'Glucose'], dtype='object')

In [9]:
#4
print(len(df))
df = df.dropna()
print(len(df))

10175
3138

In [64]:
#5
df['Height'] = (df['Body_weight'] / df['BMI']) ** 0.5
df['Height'] = df['Height'].round(2)
print(df['Height'].head(n=10))

2     1.75
4     1.62
7     1.62
11    1.52
17    1.58
19    1.70
20    1.66
23    1.61
24    1.85
30    1.69
Name: Height, dtype: float64

In [10]:
#6,7
print(df.describe())

               SEQN          Age       Gender  Body_weight          BMI  \
count   3138.000000  3138.000000  3138.000000  3138.000000  3138.000000
mean   78713.195029    43.210644     1.515934    78.594519    28.142925
std     2916.527378    20.634807     0.499826    22.840293     7.428680
min    73559.000000    12.000000     1.000000    30.100000    13.400000
25%    76200.750000    24.000000     1.000000    62.800000    22.900000
50%    78735.500000    43.000000     2.000000    75.200000    27.000000
75%    81240.250000    60.000000     2.000000    90.000000    31.600000
max    83727.000000    80.000000     2.000000   201.600000    82.900000

             HbA1c      Glucose
count  3138.000000  3138.000000
mean      5.640121     5.823680
std       0.982489     1.743688
min       3.500000     2.831000
25%       5.200000     5.051000
50%       5.400000     5.440000
75%       5.800000     5.940000
max      15.400000    23.370000

In [22]:
#8
df_lim = df[(df['Age'] >= 20) & (18.0 <= df['BMI']) & (df['BMI'] <= 50) & (4.0 <= df['Glucose']) & (df['Glucose'] <= 16.) & (4.0 <= df['HbA1c']) & (df['HbA1c'] <= 10.)]
print(len(df_lim))
print(df_lim.columns)

2406
Index(['SEQN', 'Age', 'Gender', 'Body_weight', 'BMI', 'HbA1c', 'Glucose'], dtype='object')

In [12]:
#9
df_grouped_gender = df.groupby('Gender')
print(df_grouped_gender.describe())

           Age                                                         BMI  \
         count       mean        std   min   25%   50%   75%   max   count
Gender
1.0     1519.0  43.165240  20.923626  12.0  23.0  43.0  61.0  80.0  1519.0
2.0     1619.0  43.253243  20.366484  12.0  25.0  43.0  60.0  80.0  1619.0

                    ...    HbA1c          SEQN                             \
             mean   ...      75%   max   count          mean          std
Gender              ...
1.0     27.453193   ...      5.8  15.4  1519.0  78750.097433  2915.576643
2.0     28.790056   ...      5.8  13.6  1619.0  78678.571958  2917.895349


            min      25%      50%      75%      max
Gender
1.0     73559.0  76185.0  78748.0  81300.0  83727.0
2.0     73561.0  76208.0  78718.0  81185.0  83718.0

[2 rows x 48 columns]

In [28]:
#10
A = df_lim[['BMI']]
B = df_lim[['Body_weight', 'Glucose']]
temp = pd.concat([A, B], axis=1)
temp.index = list(range(len(temp)))
temp.head(n=3)

    BMI  Body_weight  Glucose
0  28.9         88.9   10.713
1  19.7         52.0    5.940
2  35.7         93.4    6.106

In [68]:
#11
print(df_lim.iloc[33, :])
print(df_lim.iloc[:, 2])
print(df_lim.iloc[56, 3])
print(df.iloc[[49, 99, 249], [0, 2]])
print(df.iloc[56, [1, 2, 4]])
print(df[['Body_weight']].iloc[1,:])

SEQN           73688.000
Age               58.000
Gender             1.000
Body_weight       97.100
BMI               33.600
HbA1c              5.500
Glucose            5.829
Name: 131, dtype: float64
2        1.0
4        2.0
7        2.0
11       2.0
17       2.0
20       1.0
23       2.0
24       1.0
39       2.0
41       1.0
43       1.0
50       1.0
53       1.0
61       2.0
62       2.0
64       1.0
76       2.0
81       2.0
82       1.0
83       2.0
85       2.0
90       2.0
98       1.0
99       1.0
102      2.0
104      1.0
106      1.0
110      1.0
111      2.0
114      1.0
        ...
10055    1.0
10056    1.0
10058    1.0
10059    2.0
10061    1.0
10062    1.0
10068    2.0
10070    1.0
10073    2.0
10076    1.0
10080    1.0
10081    1.0
10085    1.0
10089    1.0
10098    1.0
10101    2.0
10119    2.0
10121    2.0
10126    2.0
10135    1.0
10137    2.0
10142    2.0
10145    2.0
10151    1.0
10154    2.0
10155    1.0
10156    1.0
10161    2.0
10166    1.0
10170    1.0
Name: Gender, Length: 2406, dtype: float64
57.3
        SEQN  Gender
172  73729.0     1.0
353  73910.0     1.0
837  74394.0     2.0
Age       56.0
Gender     1.0
BMI       25.6
Name: 199, dtype: float64
Body_weight    52.0
Name: 4, dtype: float64

In [31]:
#12
extract_table = 3 * df[['Body_weight', 'Glucose']]
print(extract_table.head(n=30))

     Body_weight  Glucose
2          266.7   32.139
4          156.0   17.820
7          280.2   18.318
11         141.3   14.820
17         170.4   13.989
19         201.9   14.820
20         239.1   17.319
23         280.5   17.154
24         242.7   18.318
30         330.6   15.654
39         312.0   17.820
41         260.1   18.318
43         378.6   21.150
50         335.7   14.820
53         270.6   14.988
61         238.2   16.320
62         245.1   14.154
64         229.2   16.653
76         230.4   16.986
81         182.7   18.984
82         244.5   22.149
83         164.7   18.984
85         286.5   15.987
90         222.6   18.486
98         339.3   14.322
99         266.4   14.820
100        233.7   15.486
102        351.6   23.148
104        190.2   14.322
106        374.4   17.985

In [67]:
#13
age_11 = df_lim[(20 <= df_lim['Age']) & (df_lim['Age'] < 40) & (df_lim['Gender'] == 1.0)]
age_12 = df_lim[(20 <= df_lim['Age']) & (df_lim['Age'] < 40) & (df_lim['Gender'] == 2.0)]
age_21 = df_lim[(40 <= df_lim['Age']) & (df_lim['Age'] < 60) & (df_lim['Gender'] == 1.0)]
age_22 = df_lim[(40 <= df_lim['Age']) & (df_lim['Age'] < 60) & (df_lim['Gender'] == 2.0)]
age_31 = df_lim[(60 <= df_lim['Age']) & (df_lim['Gender'] == 1.0)]
age_32 = df_lim[(60 <= df_lim['Age']) & (df_lim['Gender'] == 2.0)]

subgroup_dict = {'age_11': age_11,
                'age_12': age_12,
                'age_21': age_21,
                'age_22': age_22,
                'age_31': age_31,
                'age_32': age_32}

print(len(age_32))

subgroup_count = pd.DataFrame({'age_11': [len(age_11)],
                'age_12': [len(age_12)],
                'age_21': [len(age_21)],
                'age_22': [len(age_22)],
                'age_31': [len(age_31)],
                'age_32': [len(age_32)]})

print(subgroup_count.head(n=6))

405
   age_11  age_12  age_21  age_22  age_31  age_32
0     374     396     405     435     391     405

In [ ]:
#Numpy

In [65]:
#1
bw = np.array(df_lim['Body_weight'])
gen = np.array(df_lim['Gender'])
print(bw.shape)
print(gen.shape)

(2406,)
(2406,)

In [57]:
#2
age = np.array(df_lim['Age'])
print(age.shape)
demo = np.array([bw, gen, age]).T

(2406,)

In [58]:
#3
print(demo.shape)

(2406, 3)

In [59]:
#4
demo = pd.DataFrame(demo, columns=['Body_weight', 'Gender', 'Age'],
                   index=['Row_{}'.format(i) for i in range(1,len(demo) + 1)])
print(demo.head(n=3))

       Body_weight  Gender   Age
Row_1         88.9     1.0  72.0
Row_2         52.0     2.0  73.0
Row_3         93.4     2.0  61.0

In [60]:
#5
print(len(demo[(demo['Gender'] == 2.0) & (demo['Body_weight'] < 50.)]))

69