In [240]:
import numpy as np
import pandas as pd

# Pandas

In [241]:
# Q1
df = pd.read_csv("NHANES_sample_data.csv")
df.iloc[0:30, :]

,SEQN,RIDAGEYR,RIAGENDR,RIDRETH3,WTINT2YR,WTMEC2YR,DR1TCARB,DR1TTFAT,BMXWT,BMXBMI,BMXHT,LBXGH,LBXGLU,LBDGLUSI
0,73557.0,6.900000e+01,1.0,4.0,13281.237386,1.348104e+04,239.59,52.81,78.3,26.7,171.30,13.9,NaN,NaN
1,73558.0,5.400000e+01,1.0,3.0,23682.057386,2.447177e+04,423.78,124.29,89.5,28.6,176.80,9.1,NaN,NaN
2,73559.0,7.200000e+01,1.0,3.0,57214.803319,5.719329e+04,224.39,65.97,88.9,28.9,175.30,8.9,193.0,10.713
3,73560.0,9.000000e+00,1.0,3.0,55201.178592,5.576651e+04,162.92,58.27,32.2,17.1,137.30,NaN,NaN,NaN
4,73561.0,7.300000e+01,2.0,3.0,63709.667069,6.554187e+04,178.20,55.36,52.0,19.7,162.40,4.9,107.0,5.940
5,73562.0,5.600000e+01,1.0,1.0,24978.144602,2.534499e+04,189.59,93.92,105.0,41.7,158.70,5.5,NaN,NaN
6,73563.0,5.397605e-79,1.0,3.0,18040.818432,1.791356e+04,NaN,NaN,7.4,NaN,NaN,NaN,NaN,NaN
7,73564.0,6.100000e+01,2.0,3.0,60325.095254,6.175865e+04,300.16,91.03,93.4,35.7,161.80,5.5,110.0,6.106
8,73565.0,4.200000e+01,1.0,2.0,23307.675629,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,73566.0,5.600000e+01,2.0,3.0,16351.783140,1.748012e+04,226.32,41.31,61.8,26.5,152.80,5.4,NaN,NaN
10,73567.0,6.500000e+01,1.0,3.0,34002.622995,3.479543e+04,216.59,82.95,65.3,22.0,172.40,5.2,NaN,NaN
11,73568.0,2.600000e+01,2.0,3.0,89514.433218,9.152352e+04,227.63,172.21,47.1,20.3,152.50,5.2,89.0,4.940
12,73569.0,5.397605e-79,2.0,7.0,6673.803649,5.397605e-79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,73570.0,9.000000e+00,2.0,7.0,11913.818655,1.207147e+04,299.48,81.19,31.9,17.4,135.50,NaN,NaN,NaN
14,73571.0,7.600000e+01,1.0,3.0,46988.470276,4.619011e+04,150.93,39.68,102.4,34.4,172.50,6.9,NaN,NaN
15,73572.0,1.000000e+01,2.0,4.0,11689.376908,1.276440e+04,178.12,78.54,41.7,19.7,145.40,NaN,NaN,NaN
16,73573.0,1.000000e+01,1.0,4.0,6403.212786,6.460788e+03,NaN,NaN,50.1,20.0,158.38,NaN,NaN,NaN
17,73574.0,3.300000e+01,2.0,6.0,14155.313000,1.539722e+04,575.61,249.49,56.8,22.8,158.00,5.0,84.0,4.663
18,73575.0,1.000000e+00,1.0,4.0,7574.950558,7.721542e+03,124.92,32.08,9.4,NaN,NaN,NaN,NaN,NaN
19,73576.0,1.600000e+01,1.0,4.0,12433.748735,1.266577e+04,145.46,25.14,67.3,23.2,170.40,5.1,89.0,4.940
20,73577.0,3.200000e+01,1.0,1.0,36284.650273,3.973502e+04,385.05,121.74,79.7,28.9,166.20,5.3,104.0,5.773
21,73578.0,1.800000e+01,1.0,1.0,11592.846429,1.175863e+04,113.89,18.24,109.4,35.6,175.20,NaN,NaN,NaN
22,73579.0,1.200000e+01,2.0,3.0,63248.989522,7.070803e+04,211.42,60.80,40.2,15.5,161.00,5.5,NaN,NaN
23,73580.0,3.800000e+01,2.0,4.0,27388.920690,2.719664e+04,305.69,97.72,93.5,35.9,161.40,5.8,103.0,5.718
24,73581.0,5.000000e+01,1.0,6.0,15902.418122,1.676426e+04,534.92,63.95,80.9,23.6,185.00,5.0,110.0,6.106
25,73582.0,2.300000e+01,2.0,4.0,30197.081366,3.118189e+04,NaN,NaN,46.7,18.6,158.30,NaN,NaN,NaN
26,73583.0,7.000000e+00,2.0,3.0,47574.649392,4.819641e+04,94.60,12.20,19.7,14.4,116.90,NaN,NaN,NaN
27,73584.0,1.300000e+01,1.0,3.0,72700.381729,7.218224e+04,87.44,29.36,53.1,25.3,144.90,5.4,NaN,NaN
28,73585.0,2.800000e+01,1.0,6.0,18063.143861,1.859097e+04,175.42,80.46,92.2,30.1,175.10,5.0,NaN,NaN
29,73586.0,4.000000e+00,2.0,6.0,11635.240800,1.356968e+04,93.32,37.64,18.6,15.5,109.40,NaN,NaN,NaN

In [242]:
# Q2
del df["RIDRETH3"], df["WTINT2YR"], df["WTMEC2YR"], df["DR1TCARB"]
del df["DR1TTFAT"], df["LBXGLU"], df["BMXHT"]
df.columns

Index(['SEQN', 'RIDAGEYR', 'RIAGENDR', 'BMXWT', 'BMXBMI', 'LBXGH', 'LBDGLUSI'], dtype='object')

In [243]:
# Q3
df.columns = ["ID", "Age", "Gender", "Body_weight", "BMI", "HbA1c", "Glucose"]
df.columns

Index(['ID', 'Age', 'Gender', 'Body_weight', 'BMI', 'HbA1c', 'Glucose'], dtype='object')

In [244]:
# Q4
len(df.index)
df = df.dropna()
len(df.index)

3138

In [245]:
# Q5
df["Height"] = np.sqrt(df["Body_weight"]/df["BMI"]).round(decimals=2)
df["Height"].head()

2     1.75
4     1.62
7     1.62
11    1.52
17    1.58
Name: Height, dtype: float64

In [246]:
# Q6
pd.concat([df.median(), df.mean()], axis=1, keys=["median", "mean"])

               median          mean
ID           78735.50  78713.195029
Age             43.00     43.210644
Gender           2.00      1.515934
Body_weight     75.20     78.594519
BMI             27.00     28.142925
HbA1c            5.40      5.640121
Glucose          5.44      5.823680
Height           1.66      1.667231

In [247]:
# Q7
pd.concat([df.mean(), df.min(), df.max()
            , df.quantile(.25), df.quantile(.75), df.std()], axis=1
            , keys=["mean", "min", "max", "quantile25", "quantile75", "std"])

,mean,min,max,quantile25,quantile75,std
ID,78713.195029,73559.000,83727.00,76200.750,81240.25,2916.527378
Age,43.210644,12.000,80.00,24.000,60.00,20.634807
Gender,1.515934,1.000,2.00,1.000,2.00,0.499826
Body_weight,78.594519,30.100,201.60,62.800,90.00,22.840293
BMI,28.142925,13.400,82.90,22.900,31.60,7.428680
HbA1c,5.640121,3.500,15.40,5.200,5.80,0.982489
Glucose,5.823680,2.831,23.37,5.051,5.94,1.743688
Height,1.667231,1.370,1.98,1.600,1.74,0.100975

In [248]:
# Q8

# 条件式
age_if = df["Age"]>=20
#bmi_if = 18.0<=df["BMI"]<=50 ...これできない
bmi_if = (18.0<=df["BMI"]) & (df["BMI"]<=50)
Glucose_if = 4.0<=df["Glucose"]
HbA1c_if = (4.0<=df["HbA1c"]) & (df["HbA1c"]<=10)
df_lim_if = age_if & bmi_if & Glucose_if & HbA1c_if

# filter
df_lim = df[df_lim_if]
len(df_lim)

2409

In [249]:
# Q9
gen_grouped = df.groupby("Gender")
gen_grouped.count()

          ID   Age  Body_weight   BMI  HbA1c  Glucose  Height
Gender
1.0     1519  1519         1519  1519   1519     1519    1519
2.0     1619  1619         1619  1619   1619     1619    1619

In [250]:
# Q9
gen_grouped.quantile(.75)

0.75     Age   BMI  Body_weight  Glucose  HbA1c  Height       ID
Gender
1.0     61.0  30.5         94.3    6.051    5.8    1.79  81300.0
2.0     60.0  33.1         86.0    5.718    5.8    1.65  81185.0

In [251]:
# Q10
df_A = df_lim["BMI"]
df_B = df_lim[["Body_weight", "Glucose"]]
temp = pd.concat([df_A, df_B], axis=1).reset_index(drop=True)
temp.head()

    BMI  Body_weight  Glucose
0  28.9         88.9   10.713
1  19.7         52.0    5.940
2  35.7         93.4    6.106
3  20.3         47.1    4.940
4  22.8         56.8    4.663

In [252]:
# Q11
df_lim.iloc[34, :]

ID             73690.000
Age               77.000
Gender             2.000
Body_weight       56.300
BMI               21.400
HbA1c              5.800
Glucose            4.996
Height             1.620
Name: 133, dtype: float64

In [253]:
# Q11
df_lim.iloc[:, 3]

2         88.9
4         52.0
7         93.4
11        47.1
17        56.8
20        79.7
23        93.5
24        80.9
39       104.0
41        86.7
43       126.2
50       111.9
53        90.2
61        79.4
62        81.7
64        76.4
76        76.8
81        60.9
82        81.5
83        54.9
85        95.5
90        74.2
98       113.1
99        88.8
102      117.2
104       63.4
106      124.8
110       88.2
111       83.1
114       58.2
         ...
10055     97.7
10056     84.1
10058     77.0
10059     78.8
10061     97.1
10062     85.6
10068     55.6
10070     81.9
10073     55.2
10076     96.7
10080    179.4
10081     72.3
10085     81.4
10089     65.4
10098    166.3
10101     72.2
10119     60.0
10121     50.0
10126     76.5
10135     63.6
10137     71.3
10142     53.3
10145     69.1
10151    175.2
10154     81.9
10155     90.8
10156     62.5
10161     74.7
10166     99.5
10170     71.8
Name: Body_weight, Length: 2409, dtype: float64

In [254]:
# Q11
df_lim.iat[57, 4]

30.2

In [255]:
# Q11
df_lim.iloc[[50,100,250], [1,4]]

       Age   BMI
199   56.0  25.6
438   40.0  23.5
1034  73.0  24.0

In [256]:
# Q11
df_lim.iloc[57, [2, 3, 5]]

Gender          2.0
Body_weight    80.1
HbA1c           5.7
Name: 224, dtype: float64

In [257]:
# Q11
df_lim["Body_weight"].iat[128]

64.8

In [258]:
# Q12
extracted = df_lim[["Body_weight", "Glucose"]].iloc[::3]
extracted[:30]

     Body_weight  Glucose
2           88.9   10.713
11          47.1    4.940
23          93.5    5.718
41          86.7    6.106
53          90.2    4.996
64          76.4    5.551
82          81.5    7.383
90          74.2    6.162
102        117.2    7.716
110         88.2    5.495
117         58.4    4.940
131         97.1    5.829
140         57.9    4.885
149         91.9   10.214
161         99.8    5.273
173         89.1    5.829
190         78.4   11.324
200        102.7    4.885
215         68.1    4.996
224         80.1    5.718
244         63.5    4.607
250         69.5    5.940
259         82.2    7.161
282         99.0   11.768
291        116.1    6.606
305         98.2    7.605
327         92.0    5.940
359         82.8    5.829
369         88.4    5.773
374         68.9    5.162

In [260]:
# Q13

age1_if = (20<=df_lim["Age"]) & (df_lim["Age"]<40)
age2_if = (40<=df_lim["Age"]) & (df_lim["Age"]<60)
age3_if = df_lim["Age"]>=60
male_if = df_lim["Gender"]==1
female_if = df_lim["Gender"]==2
subgroup_dict = {
    "g1": df_lim[age1_if & male_if],
    "g2": df_lim[age1_if & (female_if)],
    "g3": df_lim[age2_if & male_if],
    "g4": df_lim[age2_if & (female_if)],
    "g5": df_lim[age3_if & male_if],
    "g6": df_lim[age3_if & (female_if)]
}

subgroup_dict["g6"]

            ID   Age  Gender  Body_weight   BMI  HbA1c  Glucose  Height
4      73561.0  73.0     2.0         52.0  19.7    4.9    5.940    1.62
7      73564.0  61.0     2.0         93.4  35.7    5.5    6.106    1.62
81     73638.0  63.0     2.0         60.9  24.8    6.0    6.328    1.57
83     73640.0  67.0     2.0         54.9  22.1    4.9    6.328    1.58
90     73647.0  61.0     2.0         74.2  27.7    7.1    6.162    1.64
102    73659.0  70.0     2.0        117.2  46.1    5.9    7.716    1.59
120    73677.0  61.0     2.0        105.2  36.4    5.4    4.774    1.70
133    73690.0  77.0     2.0         56.3  21.4    5.8    4.996    1.62
137    73694.0  66.0     2.0         76.0  26.8    6.6    7.383    1.68
190    73747.0  80.0     2.0         78.4  30.1    8.1   11.324    1.61
258    73815.0  72.0     2.0         70.3  25.0    5.3    4.774    1.68
288    73845.0  70.0     2.0         95.3  39.1    5.3    5.107    1.56
291    73848.0  65.0     2.0        116.1  41.1    6.3    6.606    1.68
305    73862.0  61.0     2.0         98.2  44.2    6.5    7.605    1.49
315    73872.0  63.0     2.0         70.3  28.1    5.7    6.106    1.58
373    73930.0  70.0     2.0         92.4  34.4    6.2    5.218    1.64
418    73975.0  64.0     2.0         61.8  25.4    4.2    4.996    1.56
422    73979.0  61.0     2.0         67.7  25.9    5.9    5.662    1.62
450    74007.0  71.0     2.0         80.6  33.3    5.4    5.440    1.56
500    74057.0  63.0     2.0        128.4  47.2    5.5    5.051    1.65
501    74058.0  60.0     2.0         83.3  34.2    5.7    5.384    1.56
508    74065.0  71.0     2.0         63.4  23.0    5.5    5.884    1.66
528    74085.0  80.0     2.0         83.6  32.1    5.9    6.162    1.61
565    74122.0  71.0     2.0         52.0  20.2    5.8    5.329    1.60
571    74128.0  71.0     2.0         62.2  26.9    5.6    4.607    1.52
584    74141.0  71.0     2.0        111.9  43.0    5.9    5.773    1.61
590    74147.0  79.0     2.0         79.8  36.2    5.4    5.718    1.48
603    74160.0  66.0     2.0         86.8  33.3    4.6    5.995    1.61
623    74180.0  63.0     2.0        100.1  31.8    5.4    5.329    1.77
636    74193.0  66.0     2.0         80.2  38.7    6.1    5.440    1.44
...        ...   ...     ...          ...   ...    ...      ...     ...
9410   82967.0  80.0     2.0         53.6  22.8    5.7    5.107    1.53
9425   82982.0  74.0     2.0         66.9  30.4    5.8    5.440    1.48
9453   83010.0  80.0     2.0         43.9  18.1    6.3    6.606    1.56
9459   83016.0  80.0     2.0         61.4  24.3    6.2    5.607    1.59
9476   83033.0  60.0     2.0         60.9  24.2    5.7    5.051    1.59
9480   83037.0  66.0     2.0         78.2  31.0    5.7    5.940    1.59
9489   83046.0  79.0     2.0         72.8  28.1    5.8    5.329    1.61
9561   83118.0  71.0     2.0         47.0  20.7    6.0    5.329    1.51
9613   83170.0  68.0     2.0         79.0  32.4    7.2   10.713    1.56
9646   83203.0  61.0     2.0         71.3  27.9    6.9   11.324    1.60
9698   83255.0  80.0     2.0         52.1  21.3    5.2    5.384    1.56
9725   83282.0  71.0     2.0         64.6  27.8    5.7    6.106    1.52
9740   83297.0  75.0     2.0         84.3  27.3    5.3    5.329    1.76
9743   83300.0  80.0     2.0         92.3  38.3    5.7    7.161    1.55
9769   83326.0  65.0     2.0         60.9  25.7    5.4    4.940    1.54
9784   83341.0  68.0     2.0         59.5  19.7    6.2    6.051    1.74
9838   83395.0  75.0     2.0         88.7  34.5    5.2    4.829    1.60
9846   83403.0  80.0     2.0         72.1  30.0    6.0    6.051    1.55
9871   83428.0  63.0     2.0         65.3  25.1    5.4    4.829    1.61
9872   83429.0  61.0     2.0         94.3  35.2    6.4    5.107    1.64
9874   83431.0  64.0     2.0         57.0  23.7    5.7    6.106    1.55
9907   83464.0  75.0     2.0         68.8  28.6    5.6    6.051    1.55
9915   83472.0  63.0     2.0         69.5  25.1    5.6    4.885    1.66
9948   83505.0  70.0     2.0         57.3  23.0    6.1    6.439    1.58
9959   83516.0  66.0     2.0         51.8  23.9    5.4    5.162    1.47
10019  83576.0  65.0     2.0        106.6  44.0    5.8    4.496    1.56
10059  83616.0  60.0     2.0         78.8  34.7    6.0    6.162    1.51
10073  83630.0  80.0     2.0         55.2  26.0    5.6    5.884    1.46
10145  83702.0  80.0     2.0         69.1  27.9    6.0    6.162    1.57
10161  83718.0  60.0     2.0         74.7  27.4    5.2    4.996    1.65

[405 rows x 8 columns]

In [287]:
# Q13 
df_lim_wg = df_lim
age1_if = (20<=df_lim_wg["Age"]) & (df_lim_wg["Age"]<40)
age2_if = (40<=df_lim_wg["Age"]) & (df_lim_wg["Age"]<60)
age3_if = df_lim_wg["Age"]>=60
male_if = df_lim_wg["Gender"]==1
female_if = df_lim_wg["Gender"]==2

# bin作成
df_age_g = pd.cut(df_lim_wg["Age"],[19, 39, 59, df_lim_wg["Age"].max()]
       , labels=["Age1", "Age2", "Age3"])
df_age_g.columns = ["Age_label"]
df_gen_g = pd.cut(df_lim_wg["Gender"],[0, 1, 2], labels=["male", "female"])
df_gen_g.columns = ["Gen_label"]

#カラム名
key_label = [i for i in df_lim_wg.columns]
key_label.append("Age_label")
key_label.append("Gen_label")
df_lim_wg = pd.concat([df_lim_wg, df_age_g, df_gen_g], axis=1)
df_lim_wg.columns = key_label

# multiindex
df_lim_wg = df_lim_wg.set_index("Age_label")
df_lim_wg = df_lim_wg.set_index("Gen_label", append=True)
df_lim_wg.head()
subgroup_count = df_lim_wg.groupby(level=[0, 1])
subgroup_count.count()

                      ID  Age  Gender  Body_weight  BMI  HbA1c  Glucose  \
Age_label Gen_label
Age1      male       374  374     374          374  374    374      374
          female     396  396     396          396  396    396      396
Age2      male       406  406     406          406  406    406      406
          female     435  435     435          435  435    435      435
Age3      male       393  393     393          393  393    393      393
          female     405  405     405          405  405    405      405

                     Height
Age_label Gen_label
Age1      male          374
          female        396
Age2      male          406
          female        435
Age3      male          393
          female        405

# Numpy

In [153]:
# Q1
bw = np.array(df_lim["Body_weight"])
gen = np.array(df_lim["Gender"])
bw[:, np.newaxis].shape

(2409, 1)

In [160]:
# Q2, Q3
age = np.array(df_lim["Age"])
demo = np.concatenate([age[:, np.newaxis]
                      , bw[:, np.newaxis], gen[:, np.newaxis]], axis=1)
demo.shape

(2409, 3)

In [183]:
# Q4
df_demo = pd.DataFrame(demo, columns=["Age", "Body_weight", "Gender"])
df_demo_idx = pd.DataFrame(df_demo.index) + 1
df_demo_idx = pd.DataFrame(df_demo_idx).applymap(str)
df_demo["idx"] = "Row_" + df_demo_idx
df_demo.set_index("idx")

           Age  Body_weight  Gender
idx
Row_1     72.0         88.9     1.0
Row_2     73.0         52.0     2.0
Row_3     61.0         93.4     2.0
Row_4     26.0         47.1     2.0
Row_5     33.0         56.8     2.0
Row_6     32.0         79.7     1.0
Row_7     38.0         93.5     2.0
Row_8     50.0         80.9     1.0
Row_9     57.0        104.0     2.0
Row_10    20.0         86.7     1.0
Row_11    37.0        126.2     1.0
Row_12    75.0        111.9     1.0
Row_13    43.0         90.2     1.0
Row_14    54.0         79.4     2.0
Row_15    36.0         81.7     2.0
Row_16    80.0         76.4     1.0
Row_17    43.0         76.8     2.0
Row_18    63.0         60.9     2.0
Row_19    71.0         81.5     1.0
Row_20    67.0         54.9     2.0
Row_21    57.0         95.5     2.0
Row_22    61.0         74.2     2.0
Row_23    44.0        113.1     1.0
Row_24    54.0         88.8     1.0
Row_25    70.0        117.2     2.0
Row_26    25.0         63.4     1.0
Row_27    25.0        124.8     1.0
Row_28    24.0         88.2     1.0
Row_29    30.0         83.1     2.0
Row_30    49.0         58.2     1.0
...        ...          ...     ...
Row_2380  72.0         97.7     1.0
Row_2381  23.0         84.1     1.0
Row_2382  80.0         77.0     1.0
Row_2383  60.0         78.8     2.0
Row_2384  40.0         97.1     1.0
Row_2385  31.0         85.6     1.0
Row_2386  58.0         55.6     2.0
Row_2387  49.0         81.9     1.0
Row_2388  80.0         55.2     2.0
Row_2389  45.0         96.7     1.0
Row_2390  40.0        179.4     1.0
Row_2391  80.0         72.3     1.0
Row_2392  33.0         81.4     1.0
Row_2393  56.0         65.4     1.0
Row_2394  41.0        166.3     1.0
Row_2395  50.0         72.2     2.0
Row_2396  51.0         60.0     2.0
Row_2397  42.0         50.0     2.0
Row_2398  33.0         76.5     2.0
Row_2399  68.0         63.6     1.0
Row_2400  36.0         71.3     2.0
Row_2401  37.0         53.3     2.0
Row_2402  80.0         69.1     2.0
Row_2403  64.0        175.2     1.0
Row_2404  38.0         81.9     2.0
Row_2405  61.0         90.8     1.0
Row_2406  34.0         62.5     1.0
Row_2407  60.0         74.7     2.0
Row_2408  61.0         99.5     1.0
Row_2409  26.0         71.8     1.0

[2409 rows x 3 columns]

In [189]:
# Q5
df_demo[(df_demo["Gender"]==2) & (df_demo["Body_weight"]<50)].shape[0]

69